<p>Hi!</p>
<p>Here's your link to create your account!</p>
<p>
    <a href="{{ url }}">Click!</a>
</p>

<p>If that doesn't work: here's yout link in plain text.</p>
<code>{{ url }}</code>

<p>If you did not request this email. Please delete it as soon as possible and change your password.</p>
